{{- if and .Values.secrets.enabled .Values.secrets.values }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "[[ chart_name ]].secretName" . }}
  labels:
    {{- include "[[ chart_name ]].labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- range $key, $value := .Values.secrets.values }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- end }}
