---
project_name: "{{ project_name }}"
app_name: "{{ app.name }}"
namespace: "{{ app.namespace }}"
manifest_path: "{{ manifest_path }}"
chart_path: "{{ chart_path }}"
container_image: "{{ app.image }}"
