apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ (app.name ~ "-config") | tojson }}
  namespace: {{ app.namespace | tojson }}
data:
{% for key, value in config.items() %}
  {{ key | tojson }}: {{ value | tojson }}
{% endfor %}
