apiVersion: v1
kind: Secret
metadata:
  name: {{ (app.name ~ "-secret") | tojson }}
  namespace: {{ app.namespace | tojson }}
type: Opaque
stringData:
{% for key, value in secrets.items() %}
  {{ key | tojson }}: {{ value | tojson }}
{% endfor %}
