apiVersion: v1
kind: Service
metadata:
  name: {{ app.name | tojson }}
  namespace: {{ app.namespace | tojson }}
  labels:
{% for key, value in labels.items() %}
    {{ key | tojson }}: {{ value | tojson }}
{% endfor %}
spec:
  selector:
{% for key, value in selector_labels.items() %}
    {{ key | tojson }}: {{ value | tojson }}
{% endfor %}
  ports:
    - name: http
      port: {{ service.port }}
      targetPort: {{ app.containerPort }}
